<div class="cart_container text-center my-3">


    <button class="btn btn-warning btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-shopping-cart mr-3"></i> Mis Productos
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body mt-3 ">
            <div id="cart_output">

            </div>

            <hr>
            <a href="/pedido">

                <button class="btn btn-success btn-block mt-2" id="pagar_btn">
                    <i class="far fa-money-bill-alt mr-2"></i>
                    Pagar
                </button>

            </a>
        </div>
    </div>
</div>

<script src="/public/js/cart.js"></script>