<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/b0fb7610ce.js" crossorigin="anonymous"></script>
</head>

<body class="text-center text-light bg-dark">
    <h1>uelcpm to domicilios</h1>


    <div id="employees_container">

    </div>


    <script id="myTemplate" type="text/x-handlebars-template" src="partials/sampleList.html"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.3.1/handlebars.min.js"></script>
    <script src="index.js"></script>
</body>

</html>