<style>
    .register_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        height: 100vh;
    }

    .register_container .fa-hotdog {
        margin: 0 auto;
        font-size: 6rem;
    }

    .form_container a {
        color: inherit
    }
</style>

<div class="row text-center">
    <div class="col col-sm-9 col-md-7 col-lg-5 mx-auto">

        <main class="register_container full">


            <header class="text-danger">
                <section class="brand_container outline-danger mb-5">
                    <i class="fas fa-hotdog"></i>
                </section>
                <h3 class="card-title text-dark">
                    ¡Regístrate!
                </h3>
            </header>


            <form action="submit" method="POST" class="mt-3 form_container">

                <div class="form-label-group my-3">
                    <input type="text" id="inputNombre" class="form-control" placeholder="Nombre" required>
                </div>



                <div class="form-label-group my-3">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" required>
                </div>

                <div class="form-label-group my-3">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                </div>

                <div class="form-label-group my-3">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Confirmar contraseña"
                        required>
                </div>

                <hr class="my-4">

                <button class="btn btn-outline-danger btn-block text-danger " type="submit">
                    <a href="/home">
                        Regístrate ahora
                    </a>
                </button>


            </form>

        </main>

    </div>
</div>